---
Checks: 'clang-diagnostic-*,
         clang-analyzer-*,
         google-*,
         bugprone-*,
         llvm-*,
         performance-*,
         portability-*,
         misc-*,
         cppcoreguidelines-*'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: none
User: resu
...

