---
Checks: 'clang-diagnostic-*,
         clang-analyzer-*,
         google-*,
         bugprone-*,
         llvm-*,
         performance-*,
         portability-*,
         misc-*,
         cppcoreguidelines-*,
         -llvm-header-guard,
         -cppcoreguidelines-pro-bounds-pointer-arithmetic,
         -cppcoreguidelines-pro-type-reinterpret-cast,
         -misc-non-private-member-variables-in-classes'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: none
User: resu
...

